
@media print {
  body * {
    visibility: hidden;
  }
  
  #resume-container, #resume-container * {
    visibility: visible;
  }

  #resume-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
    border: none;
    box-shadow: none;
  }

  /* Hide print-specific UI elements */
  .no-print {
    display: none;
  }
}
